{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "semi": 0,
    "no-unused-vars": 1,
    "linebreak-style": "off",
    "global-require": 1,
    "import/no-dynamic-require": 1,
    "no-loop-func": 0,
    "no-await-in-loop": 0,
    "no-restricted-syntax": [
      2,
      "DebuggerStatement",
      "LabeledStatement",
      "WithStatement"
    ]
  }
}
