<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DScraper.PythonExePath" value="D:\Program Files\Python\Python35-32\python.exe" />
    <add key="DScraper.CasperjsExePath" value="E:\Yun\github\DScraper\tools\casperjs\bin\casperjs.exe" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>